<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgileSharp.SNS.Repository.Properties.Settings.AgileSharpSNSConnectionString"
            connectionString="Data Source=.;Initial Catalog=AgileSharpSNS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AgileSharp.SNS.Repository.Properties.Settings.AgileSharpSNSConnectionString1"
            connectionString="Data Source=.;Initial Catalog=AgileSharpSNS;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="AgileSharp.SNS.Repository.Properties.Settings.AgileSharpSNSConnectionString2"
            connectionString="Data Source=.\sql2008;Initial Catalog=AgileSharpSNS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>